@mixin regular-caption-2 {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin regluar-caption-1 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin regluar-footnote {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin regluar-subheadline {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin regluar-callout {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin regluar-body {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin regluar-title-3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin regluar-title-2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin regluar-title-1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin regluar-largeTitle {
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

@mixin semibold-caption-2 {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin semibold-caption-1 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin semibold-footnote {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin semibold-subheadline {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin semibold-callout {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin semibold-body {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin semibold-title-3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin semibold-title-2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin semibold-title-1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin semibold-largeTitle {
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin bold-caption-2 {
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin bold-caption-1 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin bold-footnote {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin bold-subheadline {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin bold-callout {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin bold-body {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin bold-title-3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin bold-title-2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin bold-title-1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin bold-largeTitle {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
