@import '@/styles/';

.input {
  border: none;
  width: 100%;
  min-height: 38px;
  height: fit-content;
  overflow: hidden;
  resize: none;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Garam';
  font-size: 16px;
  font-weight: 600;
}
