.base {
  background-color: #87c96e;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #353535;

  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;

  cursor: pointer;
}

// ?CONCERN: 버튼에 대한 사이즈이니 base-s, base-m, base-l, base-f 로 하는 게 나을지 고민...
.small {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;

  width: 64px;
  height: 32px;
}

.medium {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;

  width: 96px;
  height: 36px;
}

.large {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  width: 160px;
  height: 40px;
}

.full {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  width: calc(100% - 32px);
  height: 44px;
}

.icon {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;

  cursor: pointer;
}

.nav {
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  color: #353535;

  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;

  cursor: pointer;
}

.logo {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 4px;
  outline: none;

  width: 136px;
  height: 32px;

  box-sizing: border-box;

  cursor: pointer;
}

.sort {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #353535;

  border: none;
  border-radius: 4px;
  outline: none;

  width: 42px;
  height: 16px;

  box-sizing: border-box;

  cursor: pointer;
}
